@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1A1D23;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



.timeline-container {

  @apply relative grid grid-cols-1 md:grid-cols-[1fr_auto_1fr] gap-x-12;
}


.timeline-container::before {
  content: '';
  @apply absolute top-0 left-1/2 h-full w-0.5 -translate-x-1/2 bg-gray-700 hidden md:block;
}


.timeline-item {
  @apply relative py-4;
}


.timeline-item::after {
  content: '';

  @apply absolute top-8 w-4 h-4 rounded-full bg-orange-500 ring-4 ring-[#111111] md:left-1/2 md:-ml-[8px];
}


.timeline-item:nth-child(even) {
  @apply md:col-start-1 md:text-right;
}


.timeline-item:nth-child(odd) {
  @apply md:col-start-3 md:text-left;
}


.timeline-content {
  @apply p-0;
}



@media (max-width: 768px) {

  .timeline-container {
    @apply grid-cols-[2rem_1fr];
  }

  .timeline-container::before {
    @apply block left-4;
  }

  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even) {
    @apply col-start-2 text-left;
  }
  

  .timeline-item::after {
    @apply left-[8px]; 
  }

 
  .timeline-content {
    @apply rounded-lg bg-gray-800/50 p-6;
  }
}